/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: inline-block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}
.container {
	width: 800px;
	margin: 0;
	vertical-align: top;

}

header nav {
  display: inline-block;
  width: 600px;
  vertical-align: top;
  margin-top: 30px;
}

.cta .cta-text {
  display: inline-block;
  vertical-align: top;
  font-size: 65px;
  margin-top: 100px;
  text-align: center;
  padding: 0px 70px;
}
.main-content {
  border-top: 1px solid black;
  margin-top: 70px;
  padding-top: 30px;

}

.main-content .top-content {
  padding: 0 10px;
}



.contact {
  margin-top: 55px;
  border-top: 1px solid black;
  padding: 30px 10px 0;
}

.contact p {
  margin: 150px 0;
}

footer {
  margin: 30px 0;
  text-align: center;
  font-size: 14px;
}


/* Below are my changes for CHALLENGE 2 for 4/3/18 (flexbox) */


.container {
  display: flex;
  flex-direction:row;
  width: 880px;
  margin: 0 auto;
}

/* header */

header nav {
  display: inline-flex;
  width: 650px;
  vertical-align: top;
  margin-top: 30px;
}

header nav a {
  display: inline-flex;
  flex-direction:row;
  margin-right: 60px;
  font-size: 10px;
  color: gray;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: underline;
}

header nav a:first-child {
 display: flex;
 flex-direction: row;
}

header nav a:last-child {
  margin-right: 0;
}

header .logo {
  display: inline-flex;
  flex-direction:row;
  justify-content: center;
  margin-top: 25px;
}

/* cta */

.cta .cta-text {
  display: inline-flex;
  vertical-align: top;
  font-size: 77px;
  margin-top: 120px;
  text-align: center;
  padding: 0px 90px;
}

.cta .cta-text button {
  background: white;
  vertical-align: top;
  margin-top: 6px;
  padding: 8px 44px;
  font-size: 17px;
  border: 1px solid black;
  cursor: pointer;
}

.cta .cta-text button:hover {
  background: black;
  color: white;
}

.cta img {
  display: inline-block;
  margin-top: 69px;
}

.main-content {
  display:flex;
  border-top: 1px solid black;
  margin-top: 76px;
  padding-top: 39px;
}

.main-content .top-content {
  padding: 0 10px;
}

.main-content .top-content .text-content {
  width: 410px;
  display: inline-block;
  align-content: space-around;
  margin-right: 34px;
}

.main-content .top-content .text-content:last-child {
  align-content: space-around;
}

.main-content .middle-img {
  
  margin-top: 45px;
  align-items: center;
}

.main-content .bottom-content {
  margin-top: 30px;
  align-items: center;
}

.main-content .bottom-content .text-content {

  display: inline-block;
  align-items: center;

}

.main-content .bottom-content .text-content:last-child {
  margin-right: 0;
}

.contact {
  flex-direction: column;
  align-self:flex-end;
  border-top: 1px solid black;

}

.contact p {
  flex-direction: column;
  margin: 20px 0;
}

footer {
  margin: 20px 0;
  text-align: center;
  font-size: 10px;
}